# Tarea 1 - Prueba de entrada

## Alumno: Vasquez Espinoza, Luis

### Trabajando el dataset **titanic-data.csv**

In [1]:
import pandas as pd

titanic_data = pd.read_csv('titanic-data.csv')

# Propiedades
print("------------------------")
print('--- titanic-data.csv ---')
print("------------------------")
print('* Dimension', titanic_data.shape)
print('* Vistazo: ')
titanic_data.head()

------------------------
--- titanic-data.csv ---
------------------------
* Dimension (891, 12)
* Vistazo:

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Preguntas

* ¿Cuántas personas de la clase 1 no sobrevivieron?

In [2]:
condition_1 = (titanic_data['Pclass'] == 1)
condition_2 = (titanic_data['Survived'] == 0)
non_survivors_class_1 = titanic_data.loc[condition_1 & condition_2]

non_survivors_class_1
print("Rpta: No sobrevivieron ", non_survivors_class_1.shape[0], "personas de la clase 1")

Rpta: No sobrevivieron  80 personas de la clase 1

* ¿En qué propiedades encontraste valores perdidos? ¿Podrías deshacerte de ellos?

In [3]:
titanic_data.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

Se nota una deficiencia de data en los campos **Age** y **Cabin** luego de revisar el conteo de elementos. Revisando la data observamos que existen valores *NaN* en algunos casos, por lo que se procede a descartarlos:

In [4]:
clean_titanic_data = titanic_data.dropna()
clean_titanic_data.count()

PassengerId    183
Survived       183
Pclass         183
Name           183
Sex            183
Age            183
SibSp          183
Parch          183
Ticket         183
Fare           183
Cabin          183
Embarked       183
dtype: int64

* Muestre si al menos un infante de Queenstown sobrevivió y, de los otros puertos de embarcación, ¿Existen infantes sobrevivientes?

Tomando la descripción encontrada en https://data.world/nrippner/titanic-disaster-dataset/workspace/project-summary tenemos que:

-> embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

In [5]:
# Sobrevivientes de Queenstown
condition = (titanic_data['Survived'] == 1) & (titanic_data['Embarked'] == 'Q')
# Menores de edad
age_condition = titanic_data['Age'] < 18

# Revisando la cantidad de resultados
if titanic_data.loc[condition & age_condition].shape[0] > 1:
    print('Por lo menos un infante sobrevivió, habiendo embarcado en Queenstown')

Por lo menos un infante sobrevivió, habiendo embarcado en Queenstown

* ¿Cuántas mujeres mayores de 20 años sobrevivieron?

Similarmente al caso anterior tomamos la condición pedida en *condition*

In [6]:
condition = (titanic_data['Survived'] == 1) & (titanic_data['Sex'] == 'female') & (titanic_data['Age'] > 20)
print("Sobrevivieron: ", titanic_data.loc[condition].shape[0], "mujeres mayores a 20 años")

Sobrevivieron:  144 mujeres mayores a 20 años